.option_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 200px;
}

.product_items{
    margin: 0 0 70px 0;

}

.product_content{
    display: flex;
    width: 300px;
    flex-direction: column;
}

.img_product{
    margin: 0 0 10px 0;
}

.information_product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.information_product > h1,
.information_product > p,
.information_product > span {
    margin: 5px 0;
}

.information_product > h1{
    color: rgb(105, 105, 105);
}

.information_product > span{
    color: red;
}

.btn{
    display: flex;
    flex-direction: row;
}

.btn_buy,
.btn_information{
    width: 80px;
    height: 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    margin: 0 5px;
}

.btn_information{
    width: 110px;
}